<div class="container service">
    <div class="row">
        <div class="col-5 service__visible-description">
            <div class="service__description-box">
                <div class="service__description">
                    <h2 class="service__title">02 ____ О нас</h2>
                    <div class="service__text-box">
                        <span class="service__text">
                            Юридическая фирма, предоставляющая консультации по актуальным
                            юридическим вопросам. 
                        </span>
                    </div>
                    <div class="service__item-box">
                        <div class="service__item">
                            <div class="service__image-box">
                                <img src="../assets/cash.png" class="img-fluid service__image-size" alt="Наличные">
                            </div>
                            <div class="service__description">
                                <div class="service__item">
                                    <span class="service__head">
                                        Выгодные цены на все услуги
                                    </span>
                                </div>
                                <div class="service__item">
                                    <span class="service__foundation">
                                        Мы четко определяем стоимость наших юридических услуг
                                        до заключения договора
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="service__item">
                            <div class="service__image-box">
                                <img src="../assets/pen.png" class="img-fluid service__image-size" alt="Консультации">
                            </div>
                            <div class="service__description">
                                <div class="service__item">
                                    <span class="service__head">
                                        Бесплатные консультации
                                    </span>
                                </div>
                                <div class="service__item">
                                    <span class="service__foundation">
                                        Мы готовы предоставить быструю
                                        и качественную онлайн помощь
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="service__item">
                            <div class="service__image-box">
                                <img src="../assets/list.png" class="img-fluid service__image-size" alt="Индивидуальный подход">
                            </div>
                            <div class="service__description">
                                <div class="service__item">
                                    <span class="service__head">
                                        Индивидуальный подход к каждому клиенту
                                    </span>
                                </div>
                                <div class="service__item">
                                    <span class="service__foundation">
                                        Вы получите персональный план решения вашей проблемы
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 service__gallery">
            <div class="container-fluid">
                <div class="row">
                    {{#if about}}
                        {{#each about}}
                            <div class="col-6 service__gallery-item-box">
                                <div class="service__gallery-item" id="is-{{servId}}">
                                    <div class="service__gallery-description">
                                        <div class="service__text-item">
                                            <span class="service__bg-text">{{commonBgText}}</span>
                                        </div>
                                        <div class="service__text-item">
                                            <span class="service__bg-info service__bg-info--warning">{{bgInfo}}</span>
                                        </div>
                                        <div class="service__text-item">
                                            <span class="service__bg-title">{{bgTitle}}</span>
                                        </div>
                                    </div>
                                    <img src="{{srcImgItem}}" class="img-fluid service__img-gallery" alt="{{srcImgName}}">
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="alert price__text">
                            <p class="price-heading price__header">У вас не заполнена информация о проекте или компании</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>