<h2 class="carousel-title">04 ____ Условия сотрудничества</h2>
<div class="carousel-box">
    <div class="carousel-image">
        {{#if condition}}
            {{#each condition}}
                <div class="carousel-image__item" id="carousel-item-{{slideId}}">
                    <div class="carousel-image__text-item">
                        <h3 class="carousel-image__bg-title">
                            {{bgTitle}}
                        </h3>
                        <div class="carousel-image__bg-text">{{bgText}}</div>
                        <div class="carousel-image__bg-info carousel-image__bg-info--warning">{{tel}}</div>
                    </div>
                    <div class="carousel-image__bg-image" style="background-image: url('{{srcImgGall}}');"></div>
                </div>
            {{/each}}
        {{else}}
            <div class="alert price__text price__text--multiple">
                <p class="alert-heading price__header">Условия сотрудничества не указаны!</p>
            </div>
        {{/if}}
    </div>
</div>