<h2 class="carousel-title">04 ____ Условия сотрудничества</h2>
<div class="carousel-box">
    <div class="carousel-image">
        {{#each conditions}}
            <div class="carousel-image__item" id="carousel-item-{{itemId}}">
                <div class="carousel-image__text-item">
                    <h3 class="carousel-image__bg-title">
                        {{title}}
                    </h3>
                    <div class="carousel-image__bg-text">{{text}}</div>
                    <div class="carousel-image__bg-info carousel-image__bg-info--warning">{{info}}</div>
                </div>
                <div class="carousel-image__bg-image" style="background-image: url('{{src}}');"></div>
            </div>
        {{/each}}
    </div>
</div>