<div class="container-fluid dashboard-menu__box">
    <div class="row dashboard-menu__holder">
        <div class="col-8 dashboard-menu__container">
            <div class="dashboard-menu__humburger-box">
                <div class="dashboard-menu__humburger">
                    <div class="dashboard-menu__item"></div>
                    <div class="dashboard-menu__item"></div>
                    <div class="dashboard-menu__item"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid admin">
    <div class="row admin__content">
        <div class="col-8 admin__tab-box">
            <div class="d-flex align-items-start tab">
                <div class="nav flex-column nav-pills tab__item-box">
                    <button type="button" class="nav-link tab__item is-active" data-target="#v-pills-ad">Реклама</button>
                    <button type="button" class="nav-link tab__item" data-target="#v-pills-home">Посты</button>
                    <button type="button" class="nav-link tab__item" data-target="#v-pills-profile">Услуги</button>
                    <button type="button" class="nav-link tab__item" data-target="#v-pills-messages">Прайс</button>
                </div>
                <div class="tab-content tab__content-box" id="tabContent">
                    <div class="tab__info">
                        <div class="tab__redirect">
                            <a href="#" class="btn tab__redirect-link">На главную</a>
                        </div>
                        <div class="tab__panel-attr">
                            <div class="tab__date" id="currentDate"></div>
                            <div class="dashboard-menu dashboard-menu--repeating">
                                <div class="dashboard-menu__bento">
                                    <div class="dashboard-menu__block"></div>
                                    <div class="dashboard-menu__block"></div>
                                    <div class="dashboard-menu__block"></div>
                                    <div class="dashboard-menu__block"></div>
                                    <div class="dashboard-menu__block"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade show tab__item-content is-active" id="v-pills-ad">
                        <form 
                            class="tab__upload-data" 
                            action="/admin" 
                            method="post"
                        >
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input tab__input" 
                                        placeholder="Наименование слогана"
                                        autocomplete="off" 
                                        name="adName"
                                    >
                                </label>
                            </div>
                            <div class="mb-2 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input tab__input--large" 
                                        placeholder="Описание слогана"
                                        autocomplete="off"
                                        name="descName"
                                    >
                                </label>
                            </div>
                            <div class="tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="submit" 
                                        class="btn btn-primary tab__btn" 
                                        value="Добавить баннер"
                                    >
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show tab__item-content" id="v-pills-home">
                        <form 
                            class="tab__upload-data" 
                            action="/admin" 
                            method="post"
                        >
                            <div class="mb-1 row">
                                <div class="col-6">
                                    <label class="form-label tab__input-box">
                                        <input 
                                            type="number" 
                                            class="form-control tab__input" 
                                            placeholder="Номер поста"
                                            autocomplete="off"
                                            name="number"
                                        >
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="form-label tab__input-box">
                                        <input 
                                            type="text" 
                                            class="form-control tab__input" 
                                            placeholder="Название раздела"
                                            autocomplete="off"
                                            name="section"
                                        >
                                    </label>
                                </div>
                            </div>
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Название поста"
                                        autocomplete="off"
                                        name="name"
                                    >
                                </label>
                            </div>
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Текст поста"
                                        autocomplete="off"
                                        name="text"
                                    >
                                </label>
                            </div>
                            <div class="tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="submit" 
                                        class="btn btn-primary tab__btn" 
                                        value="Загрузить пост"
                                    >
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade tab__item-content" id="v-pills-profile">
                        <form 
                            class="tab__upload-data" 
                            action="/admin" 
                            method="post" 
                            enctype="multipart/form-data"
                        >
                            <div class="mb-2 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <span class="tab__input-text">Выберите файл</span>
                                    <input 
                                        type="file" 
                                        class="form-control tab__input tab__input--downloaded" 
                                        id="uploadIcon"
                                        name="uploadPic"
                                    >
                                </label>
                            </div>
                            <div class="mb-2 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Название услуги"
                                        autocomplete="off"
                                    >
                                </label>
                            </div>
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Краткое описание"
                                        autocomplete="off"
                                    >
                                </label>
                            </div>
                            <div class="tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="submit" 
                                        class="btn btn-primary tab__btn" 
                                        value="Добавить услугу"
                                    >
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade tab__item-content" id="v-pills-messages">
                        <form 
                            class="tab__upload-data" 
                            action="/admin" 
                            method="post"
                        >
                            <div class="mb-2 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Наименование услуги"
                                        autocomplete="off" 
                                        name="serviceName"
                                    >
                                </label>
                            </div>
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Описание"
                                        autocomplete="off"
                                        name="serviceDesc"
                                    >
                                </label>
                            </div>
                            <div class="mb-1 tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="text" 
                                        class="form-control tab__input" 
                                        placeholder="Цена (руб)"
                                        autocomplete="off"
                                        name="servicePrice"
                                    >
                                </label>
                            </div>
                            <div class="tab__input-distance">
                                <label class="form-label tab__input-box">
                                    <input 
                                        type="submit" 
                                        class="btn btn-primary tab__btn" 
                                        value="Заполнить прайс"
                                    >
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert admin__mode-box is-unlock">
                <div class="alert-heading admin__mode">Загрузка данных недоступна в этом режиме</div>
            </div>
        </div>
        <div class="col-4 admin__messager-box">
            <div class="alert message__title-box">
                <h1 class="alert-heading message__title">{{messageList}}</h1>
                <hr class="message__underline">
            </div>
            {{#if persons}}
                {{#each persons}}
                    <div class="alert message__user-info">
                        <h4 class="alert-heading message__user-info">Имя клиента: {{this.userName}}</h4>
                        <p class="message__user-message">Сообщение: {{this.userMessage}}</p>
                        <hr class="message__underline">
                        <p class="message__user-email">Адрес эл.почты: {{this.userEmail}}</p>
                        <p class="message__user-phone">{{this.userEmail}} оставил номер телефона: {{this.userPhone}}</p>
                    </div>
                {{/each}}
            {{else}}
                <div class="alert">
                    <h4 class="alert-heading">У вас пока нет заявок!</h4>
                </div>
            {{/if}}
        </div>
    </div>
</div>