<div class="container page-price">
    <div class="row price-box">
        <div class="col-12 price">
            <h1 class="price__title">Прайс-лист</h1>
            <table class="table table-striped price__table">
                <thead class="price__header">
                    <tr class="price__head">
                        <th class="price__item-head">Наименовние услуги</th>
                        <th class="price__item-head">Описание</th>
                        <th class="price__item-head">Цена (руб)</th>
                    </tr>
                </thead>
                <tbody class="price__body">
                    {{#if priceList}}
                        {{#each priceList}}
                            <tr class="price__item">
                                <td class="price__cell">{{this.name}}</td>
                                <td class="price__cell">{{this.type}}</td>
                                <td class="price__cell">{{this.price}}</td>
                            </tr>
                        {{else}}
                            <div class="alert price__text">
                                <p class="alert-heading price__header">Услуги не указаны</p>
                            </div>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>

            <div class="price__table price__table--responsive">
                <div class="price__item price__item--responsive">
                    <div class="alert price__text">
                        <p class="alert-heading price__header">Наименовние услуги</p>
                        <hr class="price__underline">
                        <p class="alert-heading price__description">Описание</p>
                        <p class="alert-heading price__description">Цена в рублях</p>
                    </div>
                </div>
                {{#if priceList}}
                    {{#each priceList}}
                        <div class="price__item price__item--responsive">
                            <div class="alert price__text">
                                <p class="alert-heading price__header">{{this.name}}</p>
                                <hr class="price__underline">
                                <p class="alert-heading price__description">{{this.type}}</p>
                                <p class="alert-heading price__description">{{this.price}}</p>
                            </div>
                        </div>
                    {{else}}
                        <div class="alert price__text">
                            <p class="alert-heading price__header">Услуги не указаны</p>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="alert alert-light price__redirect">
        <a href="/" class="btn price__redirect-btn">На главную</a>
    </div>
</div>